@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

.pseudo-header::after {
	content: "";
	width: 7rem;
	height: 1.5rem;
	background: #11b4f5;
	position: absolute;
	bottom: 15%;
	right: -5%;
	z-index: -1;
}

body {
	overflow-x: hidden;
}

.spinner {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 8px solid rgba(195, 195, 195, 0.3);
	border-top-color: #11b4f5;
	animation: spin 1s linear infinite;
}

#chart {
	position: static !important;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
